.switch {
  margin-bottom: 30px;
  display: flex;
}

.switch:last-child {
  margin-bottom: 0;
}

.switch_item {
  width: 100px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  background: var(--switch-bg);
  border: 1px solid var(--switch-border);
  transition: .3s;
}

.switch_item_width_auto {
  width: auto;
  padding: 7px 15px;
}

.switch_item:first-child {
  border-radius: 5px 0 0 5px;
}

.switch_item:last-child {
  border-radius: 0 5px 5px 0;
}

.switch_item_active {
  color: var(--link-color);
  background: #0c71b01a;
  border-color: var(--link-color);
}

.switch_item_img {
  display: block;
  height: 45px;
  margin: 0 auto 15px;
}

.switch_item_text {
  width: 100%;
}