.topic_view_title {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 40px;
}

.topic_view_block {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.topic_view_block_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 20px 20px 0 20px;
}

.topic_view_block_title {
  font-weight: 700;
  font-size: 18px;
}

.topic_view_block_date {
  color: var(--text-color-secondary);
}

.topic_view_block_content {
  margin-bottom: 16px;
  padding: 0 20px 20px 20px;
}

.topic_view_block_comments_count {
  padding: 20px 20px 20px 20px;
  border-top: 1px solid var(--border-color);
  font-weight: 700;
  font-size: 16px;
}

.topic_view_block_comments_list {
  border-top: 1px solid var(--border-color);
}

.topic_view_block_comments_list li:not(:first-child) {
  border-top: 1px solid var(--border-color);
}

.topic_view_block_reply {
  padding-top: 20px;
  margin-top: 16px;
}

.topic_view_block_reply_label {
  font-weight: 600;
  font-size: 16px;
}

.topic_view_block_button {
  width: 250px;
  margin: 16px 0 0 auto;
}

.button_logout {
  background: var(--logout-btn-bg);
  color: var(--btn-color);
  margin-left: 30px;
}

.button_logout:hover {
  background: var(--logout-btn-bg-hover);
  color: var(--btn-color);
}
