.nav {
  margin-left: auto;
}

.nav_list {
  display: flex;
  gap: 0 26px;
}

.nav_link {
  display: block;
  padding: 10px 16px;
  background: var(--nav-bg);
  color: var(--text-color);
  border-radius: 5px;
}

.active {
  background: var(--nav-active-bg);
  color: var(--btn-color);
}

.active:hover {
  color: var(--nav-active-hover-color);
}

.logout {
  background: var(--logout-btn-bg);
  color: var(--btn-color);
  margin-left: 30px;
}

.logout:hover {
  background: var(--logout-btn-bg-hover);
  color: var(--btn-color);
}
