.nav {
  margin-left: auto;
}

.nav_list {
  display: flex;
  gap: 0 26px;
}

.nav_link {
  display: block;
  padding: 10px 16px;
  background: var(--nav-bg);
  color: var(--nav-color);
  border-radius: 5px;
}

.nav_link:hover {
  color: var(--nav-hover-color);
}

.active {
  background: var(--nav-active-bg);
  color: var(--nav-active-color);
}

.active:hover {
  color: var(--nav-active-hover-color);
}
