.how_to {
  font-size: 1.4rem;
  line-height: 130%;
}

.how_to h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 7px;
  padding: 13px 0 0;
}

.how_to p {
  margin: 0 0 5px;
}

.how_to ul {
  padding: 0 0 1px;
}

.how_to li {
  margin: 0 0 10px;
  display: flex;
  align-items: flex-start;
  gap: 0 5px;
}

.how_to svg {
  font-size: 2rem;
}

.how_to_button {
  margin: 0 auto;
  padding: 20px 0 0;
  max-width: 200px;
}