.wrapper_color {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 40px;
  border-radius: 20px;
  background: url(./i/bg.webp) bottom right/cover #f8f8f8 no-repeat;
  box-shadow: 0 3px 5px 0 #ecebe9;
}

.wrapper_color:after {
  content: '';
  position: absolute;
  top: -50px;
  right: 60px;
  width: 70px;
  height: 70px;
  background: url(./i/el.png) 50% 50%/contain no-repeat;
}

.wrapper_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

