.topic_block {
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	cursor: pointer;
}

.topic_block_avatar {
	min-width: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--secondary-background-color);
	margin-right: 8px;
}

.topic_block_avatar img {
	width: 100%;
	height: 100%;
}

.topic_block_content {
	display: flex;
	flex-direction: column;
	gap: 6px;
}


.topic_block_label {
	font-weight: 700;
}

.topic_block_text {
	text-overflow: ellipsis;
  overflow: hidden;
}

.topic_block_bottom {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	color: var(--text-color-secondary)
}

.topic_block_count svg{
	margin-right: 4px;
}