.textarea {
  display: block;
  border: 1px solid var(--input-ele-bg);
  border-radius: 5px;
  background: var(--input-ele-bg);
  width: 100%;
  height: 35px;
  padding: 10px 15px;
  font: 1.3rem/1.3rem var(--inter-font);
  color: var(--text-color);
	height: 150px;
	resize: none;
	overflow: auto;
}
.textarea:focus {
  background-color: var(--box-bg);
  border-color: var(--input-ele-border);
}

.textarea:focus::placeholder {
  opacity: 0;
}
