.leaderboard {
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    border: 0;
}

.leaderboard thead {

    background: var(--tbl-thead-bg);
}

.leaderboard th {
    text-align: left;
}

.leaderboard th, .leaderboard td {
    padding: 10px 0;
}

.leaderboard th {
    font-weight: bold;
    font-size: 13px;
}

.leaderboard td {
    background: var(--tbl-bg);
}

th.leaderboard_number, td.leaderboard_number {
    text-align: center;
}

.leaderboard tbody {
    border-radius: 0 0 15px 15px;
    border: 1px solid var(--tbl-box-border);
}