.button {
  display: block;
  width: 100%;
  max-width: 340px;
  background: var(--btn-ele-bg);
  border: none;
  font: 500 1.3rem/1.3rem var(--inter-font);
  color: var(--btn-color);
  margin: 0 auto;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.button:hover {
  background: var(--btn-ele-bg-hover);
}

.button:focus {
  outline: none;
}

.button + .button {
  margin-top: 14px;
}

.button:disabled {
  background: var(--btn-ele-bg-disabled);
}

.button_link {
  display: inline-block;
  width: auto;
  background: transparent;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--link-color);
  padding: 0;
}

.button_link:hover {
  color: var(--link-color-hover);
  background: transparent;
}

.button_link:focus {
  box-shadow: none;
}

.button_fieldset {
  padding: 47px 0 0;
  text-align: center;
  min-height: 112px;
}

.button_secondary {
  background-color: transparent;
  color: var(--text-color-secondary);
  border-color: var(--border-color);
}

.button_secondary:hover {
  background-color: var(--secondary-background-color);
}
