.attach_file {
  text-align: center;
  max-width: 200px;
  height: 45px; 
  margin: 0 auto;
  line-height: 1.6rem;
}

.attach_file_link {
  color: var(--link-color);
  display: inline-block;
  cursor: pointer;
}
.attach_file_link:hover {
  color: var(--link-color-hover);
}

.attach_file_name {
  color: var(--attach-file-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 0;
}