.forum_page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forum_header {
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.forum_header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(./i/chess-bg.jpg) 0% 95% no-repeat var(--text-color);
  background-size: cover;
  filter: grayscale(80%) blur(3px) contrast(1.2);
}

.forum_title {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
}


.forum_content {
  padding: 40px 20px 40px 20px;
  max-width: 900px;
}
