.topic_create {
	min-height: 100%;
	padding: 40px 20px;
}

.topic_create_title {
	font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
	margin-bottom: 40px;
}

.topic_create_form {
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	width: 900px;
}

.topic_create_form_buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 16px;
	margin-top: 20px;
}

.topic_create_form_buttons button {
	width: 250px;
	margin: unset;
}

.topic_create_form_button {
	margin-top: 0!important;
}