.main {
  height: 100%;
  position: relative;
}

.header {
  width: 950px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  background: url(./i/logo-chess.jpg) 50% 50% no-repeat;
  background-size: cover;
  border-radius: 15px;
  text-indent: -9999px;
  outline: none;
  overflow: hidden;
}

.game_name {
  font-size: 2.2rem;
  font-family: var(--lobster-font);
  font-weight: 400;
  font-style: normal;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.wrap {
  min-height: 100%;
}

.footer {
  padding: 30px 0;
  background: var(--footer-bg);
  color: var(--btn-color);
  font-size: 1.6rem;
  line-height: 1.2rem;
}

.footer_fixed {
  width: 950px;
  margin: 0 auto;
  padding: 0 20px;
}
