:root {
    --inter-font: "Inter", "Helvetica", "Arial", sans-serif;
    --lobster-font: "Lobster", serif;
    --body-bg: #fff;
    --btn-ele-bg: #0191ea;
    --btn-ele-bg-hover: #0c71b0;
    --btn-color: #fff;
    --link-color: #0065FD;
    --link-color-hover: #00539D;
    --text-color: #1e1e1e;
    --error-color: #ff2f2f;
    --input-ele-bg: #efefef;
    --input-ele-border: rgba(0,0,0,.14);
    
    /*--box-bg: #fff;
    --spinner-shadow: rgba(255,255,255,.4);
    --box-shadow: rgba(0,0,0,.14);
    --layout-border: #eaeaea;
    --text-secondary-color: #999;
    --form-ele-color: #3369f3;
    --form-ele-bg: #efefef;
    --modal-bg: rgba(0,0,0,.4);
    --avatar-hover-bg: rgba(0,0,0,.5);
    --logout-color: #f00;
    --scrollbar-color: rgba(0,0,0,.16) rgba(0,0,0,.04);
    --choose-file-chosen-color: #8d8d8d;*/
}
