:root {
    --inter-font: "Inter", "Helvetica", "Arial", sans-serif;
    --lobster-font: "Lobster", serif;
    --body-bg: #fff;
    --btn-ele-bg: #0191ea;
    --btn-ele-bg-hover: #0c71b0;
    --btn-color: #fff;
    --logout-btn-bg: #ff2f2f;
    --logout-btn-bg-hover: #e62929;
    --link-color: #0065FD;
    --link-color-hover: #00539D;
    --text-color: #1e1e1e;
    --text-secondary-color: #999;
    --error-color: #ff2f2f;
    --input-ele-bg: #efefef;
    --input-ele-border: rgba(0, 0, 0, .14);
    --input-ele-color-placeholder: rgba(30, 30, 30, .7);
    --border-color: #eaeaea;
    --logo-color: #efefef;
    --secondary-background-color: #efefef;
    --text-color-secondary: #999;
    --border-radius: 8px;
    --avatar-ele-bg: #efefef;
    --avatar-hover-bg: rgba(0, 0, 0, .5);
    --modal-bg: rgba(0, 0, 0, .4);
    --box-bg: #fff;
    --box-shadow: rgba(0, 0, 0, .14);
    --nav-color: #1e1e1e;
    --nav-hover-color: #00539D;
    --nav-bg: #efefef;
    --nav-active-color: #fff;
    --nav-active-bg: #0191ea;
    --nav-active-hover-color: #efefef;
    --layout-border: #eaeaea;
    --attach-file-color: #8d8d8d;
    --loader-bg: rgba(0, 0, 0, .1);
    --loader-full-bg: rgba(0, 0, 0, .5);
    --loader-color: #0099ff;
    --footer-bg: #1e1e1e;
    --oauth-hr: 0, 26, 52;
    --tbl-bg: #fff;
    --tbl-thead-bg: #d9d9d9;
    --tbl-box-shadow: #ecebe9;
    --tbl-box-bg: #f3f3f3;
    --tbl-box-even-bg: #d9d9d9;
    --tbl-box-hover-bg: #fff;
    --tbl-box-border: #ddd;
    --tbl-box-filter: invert(0);
    --switch-bg: #e3e3e3;
    --switch-active-bg: #0c71b01a;
    --switch-border: #d0d0dc;
    --theme-bg: #323232;
    --theme-fill: #fff;
    --theme-fill-noactive: #fff;
    --theme-active-bg: #0191ea;
}


/* Темная тема */
[data-theme='dark'] {
    --body-bg: #323232;
    --btn-ele-bg: #0191ea;
    --btn-ele-bg-hover: rgba(1, 145, 234, .8);
    --btn-color: #fff;
    --logout-btn-bg: #e62929;
    --logout-btn-bg-hover: #ff2f2f;
    --link-color: #A2C3F9;
    --link-color-hover: #E9E9E9;
    --text-color: #fff;
    --text-secondary-color: #aaa;
    --error-color: #ff2f2f;
    --input-ele-bg: #767676;
    --input-ele-border: #fff;
    --input-ele-color-placeholder: rgba(255, 255, 255, .7);
    --border-color: #767676;
    --logo-color: #fefefe;
    --secondary-background-color: #767676;
    --text-color-secondary: #E9E9E9;
    --border-radius: 8px;
    --avatar-ele-bg: #767676;
    --avatar-hover-bg: rgba(0, 0, 0, .5);
    --modal-bg: rgba(113, 113, 113, .8);
    --box-bg: #2A2D31;
    --box-shadow: rgba(255, 255, 255, .1);
    --nav-color: #1e1e1e;
    --nav-hover-color: #00539D;
    --nav-bg: #efefef;
    --nav-active-color: #fff;
    --nav-active-bg: #0191ea;
    --nav-active-hover-color: #efefef;
    --layout-border: #555;
    --attach-file-color: #efefef;
    --loader-bg: rgba(0, 0, 0, .3);
    --loader-full-bg: rgba(0, 0, 0, .7);
    --loader-color: #0099ff;
    --footer-bg: #1e1e1e;
    --oauth-hr: 0, 26, 52;
    --tbl-bg: #2A2D31;
    --tbl-thead-bg: #1e1e1e;
    --tbl-box-shadow: rgba(0, 0, 0, 0.6);
    --tbl-box-bg: #3a3a3a;
    --tbl-box-even-bg: #444;
    --tbl-box-hover-bg: #000;
    --tbl-box-border: #444;
    --tbl-box-filter: invert(.8);
    --switch-bg: #2a2a2a;
    --switch-active-bg: #0c71b0;
    --switch-border: #444444;
    --theme-bg: #fff;
    --theme-fill: #fff;
    --theme-fill-noactive: #323232;
    --theme-active-bg: #0191ea;
}
