.team {
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    gap: 0 16px;
    font-size: 1.4rem;
    line-height: 130%;
}

.pic {
    width: 60px;
    height: 60px;
    background: var(--avatar-ele-bg);
    border-radius: var(--border-radius);
}

.h4 {
    font-size: 1.5rem;
    line-height: 130%;
    margin: 0 0 5px;
}